.stoplight-container {
  background: darkgray;
  width: 300px;
  height: auto;
  padding: 30px;

}

.light {
  width: 200px;
  height: 200px;
  /* center align each light and add a margin bottom */
  margin: auto;
  margin-bottom: 10px;
  border: 5px solid black;
  /*   make the lights a circle */
  border-radius: 50%;

}

.red-light {
  background-color: rgba(255, 0, 0, 0.25);
}

/* red-light on hover should be 100% red */
.red-light:hover {
    background-color: red;
}

.yellow-light {
  background-color: rgba(255, 255, 0, 0.25);
}

/* yellow-light on hover should be 100% yellow */
.yellow-light:hover {
    background-color: yellow;
}

.green-light {
  background-color: rgba(0, 255, 0, 0.25);
}

/* green-light on hover should be 100% green */
.green-light:hover {
    background-color: green;
}
 